@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    max-width: 1900px;
    margin: 0 auto;

}
/* Common-style */
.container{
    padding: 50px 10vw;
}

.dark-3{
    color: #727272;
}

.orange-btn{
    background-color: #FF900E;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 2vh 2vw;
    font-size: 1.2rem;
    font-weight: 600;
}






/* Header section designed */
.header{
    background-color: #ff8f0e2c;
}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.list{
    list-style: none;
}
.list>a{
    color: #424242;
    text-decoration: none
}

/* Banner-section-design */
.banner-section{
    text-align: center;
}
.banner-title{
    font-size: 4rem;
}

.banner-section p{
    padding: 20px 10vw;
}

.banner-img{
    margin-top: 20px;
}

.banner-img>img{
    width: 100%;
}


/* Features section design */
.features-section{
    display: flex;
    gap:  5vw;
}

.features-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex: 1;
    gap: 5px;
}

.features-image-container img{
    width: 100%;
}

.features-description-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}

.features-description-container h2{
    font-size: 2rem;
    font-weight: 400;
}

.features-description-container h2 :first-child{
    font-weight: 700;
}

.features-description-container h2 :last-child{
    color: #FF900E;
    font-weight: 700;
}


/* Features You will love and enjoy section design */
.more-features-section{
    display: flex;
    gap: 5vw;
}

.more-feature-contents-parent{
    flex: 1;
    display: grid;
    gap: 25px;
}

.more-feature-contents-parent h1{
    font-size: 2rem;
    border-left: 5px solid #FF900E;
    padding-left: 2vw;
}

.feature-contents{
    padding: 10px 1vw;
    margin-left: 3vw;
    box-shadow: 4px 4px 20px 0 #72727231
}
.more-features-image-container{
   flex: 1;
}
.more-features-image-container img{
    width: 100%;
}
.more-features-image-container{
    position: relative;
}

.more-features-image-container p{
    font-size: 2rem;
    font-weight: 700;
    padding-top: 10px;
}

.more-features-image-container button{
    position: absolute;
    bottom: 6vh;
    left: 0;
}




@media screen and (max-width:576px) {
    .navbar ul{
        flex-direction: column;
    }
    .navbar ul li:not(:first-child){
        display: none;
    }

    .features-section{
        flex-direction: column-reverse;
    }

    .more-features-section{
        flex-direction: column;
    }

    .more-features-image-container button{
        bottom: -20px;
    }
}

